{% extends 'food/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="img-fluid mb-2">
            <img  height="300px" src="{{object.item_image}}"/>
        </div>
        <div class="img-fluid mb-2">
            <h1>{{object.item_name}}</h1>
            <h2><p>{{object.item_desc}}</h2>
            <h3>${{object.item_price}}</h3>
            <a class="btn btn-danger" href="{% url 'food:delete_item' item.id %}">Delete</a>
        </div>
    </div>
</div>
{% endblock %}