{% extends 'food/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-header bg-info ">
                    <div class="card-title">
                        Wow!!! You are going to add a new-item
                    </div>
                    </div>
                    <div class="card-body">
                    
                            <form method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="form-group">
                               {{field.name}}
                               <br>
                               {{field}}
                            </div>
                            {% endfor %}
                            <br>
                            <button class="btn btn-primary" type="submit">Save</button>
                            </form>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .container{
        margin-top: 40px;
        font-weight: bold;
    }
    .card-title{
        color:#fff;
    }
</style>
{% endblock %}